/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/Buttons/AddPlace.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.AddPlace_add__wzyiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddPlace_add_button__aLp_5 {
  font-family: Comfortaa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  z-index: 5;
  width: 450px;
  height: 56px;
  position: fixed;
  bottom: 124px;
  font-size: 24px;
  background-color: #E4F3DF;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  color: rgb(0, 0, 0);
  padding: 16px;
}
.AddPlace_add_button__aLp_5:disabled{
  background-color: #ffffff;
  border: 2px solid #6CBF52;
  color: #6CBF52;
  box-shadow: none;

}



.AddPlace_plus__d_CzS {

  height: 25px;
}

@media (max-width: 650px) {

  .AddPlace_add_button__aLp_5 {

    gap: 16px;

    width: 351px;
    height: 56px;


    bottom: 96px;
    font-size: 18px;

  }

}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/Overlay/Overlay.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Overlay_overlay__87APJ {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: rgb(0 0 0 / 0.4);
  display: none;
  z-index: 4;
}

.Overlay_overlay_is-opened__QKW4v {
  display: block;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/Popup/Popup.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Popup_popup__lJxRt {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  padding: 20px 78px;
  display: none;
  z-index: 5;
  border-radius: 20px;
}

.Popup_popup_is-opened__R8NFO {
  display: block;
}

.Popup_close__efpry {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
}

.Popup_close-icon__QfKYp {
  width: 16px;
  height: 25px;
  transition: opacity 0.3s ease-in-out;
}

.Popup_close-icon__QfKYp:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 650px) {
  .Popup_popup__lJxRt {
    width: 80%;
    padding: 32px 24px;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/Forms/NewPlaceForm.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.NewPlaceForm_form__ATAxJ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewPlaceForm_form__title__mBltc {
  margin-bottom: 24px;
  font-size: 32px;
}

.NewPlaceForm_form__fields__mGcBI {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NewPlaceForm_form__field__NffFw {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.NewPlaceForm_form__field-title__ROVUK {
  font-size: 24px;
}

.NewPlaceForm_form__field-input__PbCUP {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-family: inherit;
  border-width: 0 0 1px 0;
  border-color: #DADADA;
  margin-top: 10px;
  padding: 0;

}

.NewPlaceForm_form__actions__7nhyY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.NewPlaceForm_form__reset__eWKgW {
  width: 366px;
  height: 56px;
  font-family: inherit;
  background-color: transparent;
  font-size: 20px;
  color: #6CBF52;
  border: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 20px;
}

.NewPlaceForm_form__reset__eWKgW:hover {
  color: rgb(0, 0, 0);
  background-color: #E4F3DF;
}

.NewPlaceForm_form__reset__eWKgW:disabled {
  opacity: .9;
  pointer-events: none;
}
.NewPlaceForm_form__delet__5SuG4{
  width: 366px;
  height: 56px;
  font-family: inherit;
  background-color: transparent;
  font-size: 20px;
  color: #CE4B4B;
  border: 1.5px solid #CE4B4B;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 20px;

}
.NewPlaceForm_form__delet__5SuG4:hover {
  color: rgb(255, 255, 255);
  background-color: #E1928C;
  border: none;
}



.NewPlaceForm_form__submit__KGr6c {
  width: 366px;
  height: 56px;
  font-size: 20px;
  background-color: #6CBF52;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  color: white;
  padding: 0;
  transition: color 0.3s ease-in-out
}

.NewPlaceForm_form__submit__KGr6c:hover {
  color: rgb(0, 0, 0);
}

.NewPlaceForm_form__submit__KGr6c:disabled {
  opacity: .5;
  pointer-events: none;
}

@media (max-width: 650px) {
  .NewPlaceForm_form__title__mBltc {
    font-size: 24px;
  }
  .NewPlaceForm_form__field-title__ROVUK {
    font-size: 16px;
  }
  
  .NewPlaceForm_form__reset__eWKgW {
    width: 320px;
  }
  .NewPlaceForm_form__submit__KGr6c {
    width: 320px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/CardsList/CardsList.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/

.CardsList_place_list__ZMwmg {
    list-style: none;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-gap: 24px;
    gap: 24px;
    padding: 0;
    padding-bottom: 100px;
}

.CardsList_place_link__oj12j {
    display: flex;
    height: 100%;
}
.CardsList_place_card__oQM69 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    position: relative;
}

.CardsList_gradient__ygcn1 {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.CardsList_place_img__zx1N_ {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.CardsList_place_description__WDYLL {
    box-sizing: content-box;
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.CardsList_place_name__4vF_b {
    font-size: 24px;
}

.CardsList_place_adress__LaG56 {
    font-size: 18px;
}

@media (max-width: 650px) {
   .CardsList_list_section__witF9{
    width: 351px;
   }

    .CardsList_place_list__ZMwmg {

        grid-template-columns: 1fr;

    }
    .CardsList_place_description__WDYLL {

        bottom: 16px;
        left: 16px;
        gap: 16px;
    }

    .CardsList_place_name__4vF_b {
        font-size: 20px;
    }

    .CardsList_place_adress__LaG56 {
        font-size: 14px;
    }


}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/CardsList/Card.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Card_place_card__nsa8X {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    position: relative;
}

.Card_gradient___m6jd {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6125043767507004) 100%);
}

.Card_place_img__zpmQ6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.Card_place_description__F7Iwg {
    box-sizing: content-box;
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Card_place_name__1HnIv {
    font-size: 24px;
}

.Card_place_adress__g0ZII {
    font-size: 18px;
}
@media (max-width: 650px) {
    


    .Card_place_description__F7Iwg {

        bottom: 16px;
        left: 16px;
        gap: 16px;
    }

    .Card_place_name__1HnIv {
        font-size: 20px;
    }

    .Card_place_adress__g0ZII {
        font-size: 14px;
    }

    

}
